.section5 {
  height: 200vh;
  width: 100%;
  /* background-color: honeydew; */
  background-color: white;
  position: relative;
  overflow: hidden;
}
.modelhand {
  height: 190vh;
  width: 800px;
  /* background-color: indianred; */
  background-image: url(/pictures//hand-removebg-preview.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 10px;
  top: 150px;
}

.shipping {
  height: 700px;
  width: 500px;
  position: absolute;
  top: 40%;
  right: 150px;
  /* background-color: lightseagreen; */
  background-color: transparent;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 10px;
  margin: 20px;
  flex-wrap: wrap;
  background-color:white;

}

.shiptext {
  background-color:white;
  /* color: black; */
  font-size: 18px;
  font-family: "Merriweather", serif;
}
.shiptext h1 {
  font-family: "Merriweather", serif;
  font-size: 65px;
}
.shiptext h3{
  font-size: 30px;
} 

.shiphead {
  background-color:white;

  /* color: black; */
  font-size: 30px;
  font-family: "Merriweather", serif;
  position: absolute;
  right: 200px;
  top: 300px;
  border: 2px solid;
  padding: 20px;
  margin: 20px;
  box-shadow: 10px 15px 15px black;
}
